<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%# <%= render blog %> 
    <div><%= blog.title %></div>
    <div><%= blog.body %></div>
    <div><b><%= link_to blog.status, toggle_status_blog_path(blog.id) %></b></div>

    <p>
      <%= link_to "Show this blog", blog %>
    </p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
